# LioJotstar Merger: Data Analysis with Python for Strategic Optimization

## 1. Data Loading
This notebook connects to MySQL database containing the LioCinema and Jotstar datasets. It executes SQL queries to extract required tables and loads the results into Pandas Dataframes which are saved in Parquet for subsequent analysis as well as inter-notebook transfer. It also includes preliminary inspection of the loaded data.

### Importing Required Libraries

In [4]:
import mysql.connector
import pandas as pd

### Establishing Database Connection & Importing Data

In [6]:
jsdb = mysql.connector.connect(host = "localhost",
                            username = "root",
                            password = "JKTuteja79",
                            database = "jotstar_db")
jscur = jsdb.cursor()
lcdb = mysql.connector.connect(host = "localhost",
                            username = "root",
                            password = "JKTuteja79",
                            database = "liocinema_db")
lccur = lcdb.cursor()

In [7]:
# Checking contents of Jotstar Database
query = '''
SHOW TABLES
'''
jscur.execute(query)
data = jscur.fetchall()
data

[('content_consumption',), ('contents',), ('subscribers',)]

In [8]:
# Checking contents of LioCinema Database
query = '''
SHOW TABLES
'''
lccur.execute(query)
data = lccur.fetchall()
data

[('content_consumption',), ('contents',), ('subscribers',)]

### Importing Data

In [10]:
# For Jotstar Database Tables
query = '''
SELECT * FROM contents
'''
jscur.execute(query)
data = jscur.fetchall()
jotstar_contents_df = pd.DataFrame(data)
jotstar_contents_df.rename(columns = {0:'Content ID', 1:'Content Type', 2:'Language', 3:'Genre', 4:'Run Time (mins)'}, inplace = True)

query = '''
SELECT * FROM subscribers
'''
jscur.execute(query)
data = jscur.fetchall()
jotstar_subscribers_df = pd.DataFrame(data)
jotstar_subscribers_df.rename(columns = {0:'User ID', 1:'Age Group', 2:'City Tier', 3:'Subscription Date', 4:'Subscription Plan', 
                                         5:'Last Active Date', 6:'Plan Change Date', 7:'New Subscription Plan'}, inplace = True)

query = '''
SELECT * FROM content_consumption
'''
jscur.execute(query)
data = jscur.fetchall()
jotstar_content_consumption_df = pd.DataFrame(data)
jotstar_content_consumption_df.rename(columns = {0:'User ID', 1:'Device Type', 2:'Total Watch Time (mins)'}, inplace = True)

In [11]:
# For LioCinema Database Tables
query = '''
SELECT * FROM contents
'''
lccur.execute(query)
data = lccur.fetchall()
liocinema_contents_df = pd.DataFrame(data)
liocinema_contents_df.rename(columns = {0:'Content ID', 1:'Content Type', 2:'Language', 3:'Genre', 4:'Run Time (mins)'}, inplace = True)

query = '''
SELECT * FROM subscribers
'''
lccur.execute(query)
data = lccur.fetchall()
liocinema_subscribers_df = pd.DataFrame(data)
liocinema_subscribers_df.rename(columns = {0:'User ID', 1:'Age Group', 2:'City Tier', 3:'Subscription Date', 4:'Subscription Plan', 
                                           5:'Last Active Date', 6:'Plan Change Date', 7:'New Subscription Plan'}, inplace = True)

query = '''
SELECT * FROM content_consumption
'''
lccur.execute(query)
data = lccur.fetchall()
liocinema_content_consumption_df = pd.DataFrame(data)
liocinema_content_consumption_df.rename(columns = {0:'User ID', 1:'Device Type', 2:'Total Watch Time (mins)'}, inplace = True)

In [12]:
jotstar_contents_df.info

<bound method DataFrame.info of           Content ID Content Type Language     Genre  Run Time (mins)
0     CJSMBEACT2e633        Movie  Bengali    Action               90
1     CJSMBEACT34aec        Movie  Bengali    Action              135
2     CJSMBEACT83b46        Movie  Bengali    Action              120
3     CJSMBECOM12e7a        Movie  Bengali    Comedy              120
4     CJSMBECOM5431a        Movie  Bengali    Comedy              135
...              ...          ...      ...       ...              ...
2355  CJSSTETHR767c0       Series   Telugu  Thriller               20
2356  CJSSTETHR8b80e       Series   Telugu  Thriller               30
2357  CJSSTETHR92817       Series   Telugu  Thriller               45
2358  CJSSTETHRccd4d       Series   Telugu  Thriller               30
2359  CJSSTETHRdfb63       Series   Telugu  Thriller               45

[2360 rows x 5 columns]>

In [13]:
jotstar_subscribers_df.info

<bound method DataFrame.info of                 User ID Age Group City Tier Subscription Date  \
0      UIDJS0000751588f     18-24    Tier 1        2024-06-10
1      UIDJS000093eeb86     18-24    Tier 1        2024-11-09
2      UIDJS00010d7fa1e     25-34    Tier 1        2024-08-08
3      UIDJS00013411a85     35-44    Tier 2        2024-05-31
4      UIDJS0003a3f54cf     35-44    Tier 1        2024-09-20
...                 ...       ...       ...               ...
44615  UIDJSfffbb38249e     25-34    Tier 2        2024-11-12
44616  UIDJSfffbd759005       45+    Tier 1        2024-05-21
44617  UIDJSfffebd3002b     25-34    Tier 1        2024-09-27
44618  UIDJSffff6698084     35-44    Tier 3        2024-10-12
44619  UIDJSffffe298c56     25-34    Tier 2        2024-09-10

      Subscription Plan Last Active Date Plan Change Date  \
0               Premium             None             None
1                  Free             None             None
2                  Free             None             None
3                   VIP             None             None
4               Premium             None             None
...                 ...              ...              ...
44615              Free             None             None
44616               VIP             None             None
44617               VIP       2024-10-29             None
44618               VIP             None             None
44619              Free             None             None

      New Subscription Plan
0                      None
1                      None
2                      None
3                      None
4                      None
...                     ...
44615                  None
44616                  None
44617                  None
44618                  None
44619                  None

[44620 rows x 8 columns]>

In [14]:
jotstar_content_consumption_df.info

<bound method DataFrame.info of                  User ID Device Type  Total Watch Time (mins)
0       UIDJS877cc0e02c9      Mobile                    14613
1       UIDJS06384e7ff06      Mobile                    13271
2       UIDJSc3997b7beb7      Mobile                     4644
3       UIDJS66726ce2325      Mobile                     5734
4       UIDJS040119b6107      Mobile                     2939
...                  ...         ...                      ...
133855  UIDJS96f8e4a1b54      Laptop                    11671
133856  UIDJSa131c0a6199      Laptop                     9453
133857  UIDJS3f8a556df56      Laptop                      199
133858  UIDJS7a51d1c2bcd      Laptop                     3252
133859  UIDJS44e851ffbd2      Laptop                    11574

[133860 rows x 3 columns]>

In [15]:
liocinema_contents_df.info

<bound method DataFrame.info of           Content ID Content Type Language     Genre  Run Time (mins)
0     CLCMENACT6b77e        Movie  English    Action              120
1     CLCMENACTb7ceb        Movie  English    Action              135
2     CLCMENCOM1563a        Movie  English    Comedy              135
3     CLCMENCOM16d2c        Movie  English    Comedy              135
4     CLCMENCOMa0548        Movie  English    Comedy              135
...              ...          ...      ...       ...              ...
1245  CLCSTEROMe2fe2       Series   Telugu   Romance               45
1246  CLCSTETHR03dcc       Series   Telugu  Thriller               30
1247  CLCSTETHR99295       Series   Telugu  Thriller               45
1248  CLCSTETHRa1536       Series   Telugu  Thriller               20
1249  CLCSTETHRf659a       Series   Telugu  Thriller               45

[1250 rows x 5 columns]>

In [16]:
liocinema_subscribers_df.info

<bound method DataFrame.info of                  User ID Age Group City Tier Subscription Date  \
0       UIDLC00000bea68a     25-34    Tier 3        2024-10-24
1       UIDLC00009202848     18-24    Tier 1        2024-09-18
2       UIDLC0001086afc3     35-44    Tier 2        2024-03-23
3       UIDLC000186abd93     18-24    Tier 3        2024-09-07
4       UIDLC0002189b09f     18-24    Tier 2        2024-10-07
...                  ...       ...       ...               ...
183441  UIDLCffff41ace17     18-24    Tier 2        2024-10-16
183442  UIDLCffff85ea59a     25-34    Tier 2        2024-08-09
183443  UIDLCffffbb55ff5     18-24    Tier 2        2024-11-22
183444  UIDLCffffc6f6db0     18-24    Tier 1        2024-05-01
183445  UIDLCffffe3b01f9     25-34    Tier 3        2024-05-31

       Subscription Plan Last Active Date Plan Change Date  \
0                   Free             None             None
1                  Basic             None             None
2                Premium             None       2024-04-23
3                   Free       2024-10-23             None
4                Premium             None       2024-11-07
...                  ...              ...              ...
183441              Free       2024-11-07             None
183442             Basic             None             None
183443              Free             None             None
183444             Basic       2024-10-10             None
183445              Free       2024-07-09             None

       New Subscription Plan
0                       None
1                       None
2                       Free
3                       None
4                       Free
...                      ...
183441                  None
183442                  None
183443                  None
183444                  None
183445                  None

[183446 rows x 8 columns]>

In [17]:
liocinema_content_consumption_df.info

<bound method DataFrame.info of                  User ID Device Type  Total Watch Time (mins)
0       UIDLC459c98ee486      Mobile                      502
1       UIDLCe4b2fd90790      Mobile                     2098
2       UIDLCbc8f0a05367      Mobile                      557
3       UIDLC9fc67130445      Mobile                     1720
4       UIDLC7026c3e0374      Mobile                      908
...                  ...         ...                      ...
430747  UIDLC976c213a9f5      Laptop                      620
430748  UIDLCee0ef0f566e      Laptop                      337
430749  UIDLC9580d2b78b5      Laptop                      563
430750  UIDLCcf3cbd323d3      Laptop                      314
430751  UIDLC1cd59375868      Laptop                      332

[430752 rows x 3 columns]>

### Closing Database Connection

In [19]:
jscur.close()  
jsdb.close()  
lccur.close()  
lcdb.close()  
print("MySQL connection closed successfully.")

MySQL connection closed successfully.

### Exporting DataFrames to Parquet Files

In [21]:
# Saving all Jotstar DataFrames in Parquet Format
jotstar_contents_df.to_parquet('Parquet Data Files/01. Data Loading/Jotstar_db/contents.parquet', index = False)
jotstar_subscribers_df.to_parquet('Parquet Data Files/01. Data Loading/Jotstar_db/subscribers.parquet', index = False)
jotstar_content_consumption_df.to_parquet('Parquet Data Files/01. Data Loading/Jotstar_db/content_consumption.parquet', index = False)

# Saving all LioCinema DataFrames in Parquet Format
liocinema_contents_df.to_parquet('Parquet Data Files/01. Data Loading/LioCinema_db/contents.parquet', index = False)
liocinema_subscribers_df.to_parquet('Parquet Data Files/01. Data Loading/LioCinema_db/subscribers.parquet', index = False)
liocinema_content_consumption_df.to_parquet('Parquet Data Files/01. Data Loading/LioCinema_db/content_consumption.parquet', index = False)

print("All DataFrames are saved as Parquet files successfully.")

All DataFrames are saved as Parquet files successfully.

## Next Notebook: "2. Data Wrangling"